<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ID</key>
	<integer>1401</integer>
	<key>faceColorAlpha</key>
    <integer>50</integer>
	<key>darkDict</key>
	<dict>
		<key>DarkAfter</key>
		<integer>0</integer>
		<key>DarkAfterBlendState</key>
		<integer>0</integer>
		<key>DarkBlendalpha</key>
		<string>1.0</string>
		<key>DarkBlendmaterials</key>
		<string>A02.jpg</string>
		<key>DarkBlendstyle</key>
		<string>PSMultiply100.png</string>
		<key>DarkRealTimeBlendState</key>
		<integer>0</integer>
	</dict>
	<key>onlineDict</key>
	<array>
		<dict>
			<key>Blendalpha</key>
			<string>0.6</string>
			<key>FSPath</key>
			<string>Shader_Mapy.mtsl2</string>
			<key>MaskPath</key>
			<array>
				<string>1401.png</string>
			</array>
			<key>VSPath</key>
			<string>Shader_Vertex.mtsl2</string>
			<key>filepath</key>
			<string>1401.FilterOnline</string>
		</dict>
	</array>
</dict>
</plist>
